<header class="site-header">


      <div class="blog-masthead">
        <div class="container">
          <nav class="blog-nav">
            <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }} | <span style="font-size:20px">Northwest Knowledge Network, University of Idaho ORED</span></a>
              <div class="vert-center">
                <ul class="nav navbar-nav vert-center">
                  <li>
                    <a class="blog-nav-item" href="/about">About</a>
                  </li>
                  <li class="dropdown">
                    <a class="blog-nav-item dropdown-toggle" aria-expanded="false" 
                       aria-haspopup="true" role="button" data-toggle="dropdown" href="#">
                    Tools and Tutorials<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-option" href="/git-and-github">Git and Github</a>
                    </li>
                    </ul>
                  </li>
                </ul>
              </div>
          </nav>
        </div>
      </div>
    </nav>

  </div>

</header>
